<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.blog.usr.domain.UserDao">
    
    <!-- 若不需要自动返回主键，将useGeneratedKeys="true" keyProperty="id"去掉即可(当然如果不需要自动返回主键，直接用注解即可) -->
    <select id="findUserByAccountAndPassword" parameterType="User" resultType="User">
    	select * from user where account=#{account} and password=#{password};
   	</select>
    
</mapper>